body{
    margin: 0px;
    background-color: rgb(243, 243, 243) ;
}

h1{
    margin: 0px;
    padding: 1%;
    background-color: rgb(240, 240, 240);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    text-align: center;
    font-size: 20px;
}

h2{
    font-size: 40px;
    margin: 3%;
}

aside{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 30%;
}

.bildTop{
    width: 100%;
    height: auto;
}

#PicknickBild{
    height: 100%;
}

#receptBox{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 70%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr;
}

.receptBoxDel{
    background-color: white;
    padding: 5%; 
    margin-top: 5px;
    margin-bottom: 5px;
}

#info{
    display: flex;
    flex-direction: row;
    gap:5%;
}

#MatBild{
    height: auto;
    width: 100%;
}



#kommentarer{
    background-color: rgb(193, 201, 211);
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-evenly;
}

.kommentarBox{
    background-color: rgb(243, 243, 243);
    border-radius: 7%;
    border: 3px solid rgb(243, 243, 243);
    margin: 2%;
    width: 30%;
    padding: 3vh;
    display: flex;
    flex-direction: column;
}

h4{
    font-size: 25px;
    margin-bottom: 0px;
}

.kommentar{
    font-size: 25px;
    margin-bottom: 0px;
}

.profilCirkel{
    height: 70px;
    width: 70px;
    background-color: rgb(213, 213, 213);
    border-radius: 50%;
    display: inline-block;
}

#kommentarRating{
    height: 40%;
    width: auto;
    align-self:flex-end;
}